@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2c3e50;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #2c3e503b;
  }
}

@media (min-width: 1024px) {

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}